body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #111;
}

.hero {
  height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: #fff;
}

.hero h1 span {
  color: #0d6efd;
}

.section {
  padding: 80px 0;
}

.skill-box {
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.project-card {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

footer {
  background: #000;
  color: #aaa;
}
